* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Karla", sans-serif;
    font-family: "Sometype Mono", monospace;
    font-family: "Source Sans 3", sans-serif;
  }