.cont-txt-proyect{
    text-align: center;
    padding: 10px;
    background-color: #07575b;
    color: #c4dfe6;
    font-size: 1em;
    max-width: 50%;
}
.cont-proyect{
    margin: auto;
    max-width: 80%;
}
.cont-proyect img{
    border-radius: 10px;
    max-width: 100%;    
}