.cont-cert{
    max-width: 33%;
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    background-color: #66a5ad;
    border-radius: 10px;
}
.cont-img img{
    max-width: 100%;
    margin: 10px auto;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .cont-cert{
        max-width: 33%;;
        margin: auto;
        font-size: 0.8em;
    }
}