.container-certf {
  background-color: #2b535a;
  text-align: center;
  padding: 20px;
  color: #dcf8fd;
}

.cont-titulos {
  max-width: 100%;
  display: flex;
}

@media only screen and (min-width: 200px) and (max-width: 600px){
  .container-certf{
    max-width: 100%;
    margin: auto;
  }
  .cont-titulos{
    max-width: 100%;
    display: flex;
  }
}