.cont-skills {
  background-color: #c4dfe6;
  text-align: center;
  max-width: 50%;
}

.cont-leng {
  max-width: 80%;
  margin: auto;
  border-radius: 20px;
}
.cont-leng img {
  border-radius: 20px;
  margin: 40px;
  max-width: 90%;
}

@media only screen and (max-width: 600px){
  .cont-skills{
    max-width: 50%;
    font-size: 0.8em;
  }
  .cont-leng{
    max-width: 100%;
    margin: 0 auto;
  }
  .cont-leng img{
    max-width: 90%;
    margin: auto;
    display: block;
  }
}